@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Custom Base Styles */
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
}